<div class="container">
    <div class="row">
       <div class="col-md-12">
          <div id="content" class="content content-full-width">
             <!-- begin profile -->
             <div class="profile">
                <div class="profile-header">
                   <!-- BEGIN profile-header-cover -->
                   <div class="profile-header-cover"></div>
                   <!-- END profile-header-cover -->
                   <!-- BEGIN profile-header-content -->
                   <div class="profile-header-content">
                      <!-- BEGIN profile-header-img -->
                      <div class="profile-header-img">
                         <img src="assets/profile-img/user_img.png" alt="">
                      </div>
                      <!-- END profile-header-img -->
                      <!-- BEGIN profile-header-info -->
                      <div class="profile-header-info">
                         <h4 class="m-t-10 m-b-5"> Customer Name </h4>
                         <p class="m-b-10"> Gender </p>
                         <a href="http://localhost:4200/landing" class="btn btn-sm btn-info mb-2"> Home </a>
                      </div>
                      <!-- END profile-header-info -->
                   </div>
                   <!-- END profile-header-content -->
                   <!-- BEGIN profile-header-tab -->
                   <ul class="profile-header-tab nav nav-tabs">
                     <li class="nav-item">
                         <a class="nav-link" href="http://localhost:4200/checkout">
                             <span class="menu-title"> Checkout </span>
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="http://localhost:4200/history">
                             <span class="menu-title"> History </span>
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="http://localhost:4200/customer">
                             <span class="menu-title"> My Profile </span>
                         </a>
                     </li>
                   </ul>
                   <!-- END profile-header-tab -->
                </div>
             </div>
             <!-- end profile -->
             <!-- begin profile-content -->
             <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                   <!-- begin #profile-post tab -->
                   <div class="tab-pane fade active show" id="profile-post">
                      <!-- begin timeline -->
                      <ul class="timeline">
                         <li>
                            <div class="timeline-body">
                               <div class="timeline-header">
                                  <span class="username"><a href="javascript:;"> My Payment(s)  </a> <small></small></span>
                               </div>
                               <div class="timeline-content">          
                 </div>
                 </div>
                 </li>
                      </ul>
                      <!-- end timeline -->
                   </div>
                   <!-- end #profile-post tab -->
                </div>
                <!-- end tab-content -->
             </div>
             <!-- end profile-content -->
          </div>
       </div>
    </div>