<div class="container vh-100 d-flex justify-content-center align-items-center text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;" >
        <a routerLink="/landing" class="link" >
            <img src="assets/Background/LogoFr.png" alt="Zatch Shopping" width="80%" height="80%" class="mb-3">
        </a>
        <p class="h5 text-success my-2">Welcome back</p>
        <hr class="bg-success mb-5 mt-0 pt-0"/>
        <div *ngIf="isLoginError" class="text-danger form-group">
           Incorrect username or password
        </div>
        <input type="text" class="form-control" placeholder="Email Address" formControlName="emailAddress">
        <br>
        <input type="password" class="form-group form-control" placeholder="Password" formControlName="password">
        
        <div class="form-group">
            <button class="btn btn-success" type="submit">Log In</button>
        </div>
      
        <p>Don't have an account <a routerLink="../register">Sign Up</a></p>
    </form>
</div>
