nav {
      
  line-height: 100%;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  line-height: 200%;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 20px;
  
}

nav a {
text-decoration: none; 
}

.link { color: #0ba06c; 
} 
.link:hover { color: #92d3a0; }

hr {
color: white;
border: 1px solid #0ba03c;
}

//table
table{border: 1px solid #000000;
border-collapse: collapse;
text-align: center;
font-size: 18px;
}

td {border: 2px solid #FFF;
padding: 1px;
}

thead {font-size: 1.2em;
  font-weight: bold;
  text-align: center;
   color: #416d65;
}


tbody tr:nth-child(odd) {background-color: #7deba567;
}

.cancel {
cursor: pointer;
border-radius: 0.05em;
color: #fff;
background-color:rgba(146, 9, 9, 0.952);
border: 0;
padding: 5px 10px;
font-family: Georgia, "Times New Roman", serif;
margin: 4px;
font-size: 14px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}