<div class="container">
        <nav>
          <a href="http://localhost:4200/landing" class="link">Home | </a>
          <a href="http://localhost:4200/login" class="link">Sign In | </a>
          <a href="http://localhost:4200/register" class="link">Sign Up</a>
          <img src="assets/Background/LogoFr.png" alt="Zatch Shopping" width="30%" height="30%" style="float: right;">
        </nav>
        <br>
        <hr>

        <p class="h1 mt-5 text-center">
                Page not found
        </p>
</div>