.btn {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background-color: #92d3a0;
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: Georgia, "Times New Roman", serif;
      margin-left: 80px;
      font-size: 18px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  

  