

<div class="container">
    <h3 class="link">Shop For Ladies Or Men<img src="assets/Background/Cart.png" alt="Cart" width="10%" height="10%" style="float: right;" ></h3>
        
    <br>
    <br>
    <hr>
    <br>
    <br>
<div class="row">
    <div class="col-sm pb-6">
        <!-- Card -->
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/Background/ToLadies.png" alt="Card image cap"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
               

                <a href="http://localhost:4200/shopladies" mdbBtn color="primary" mdbWavesEffect>Shop For Ladies</a>
            </mdb-card-body>
        </mdb-card>
        <!-- Card -->
    </div>
    <div class="col-sm pb-6">
        <!-- Card -->
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/Background/ToMen.png"
                    alt="Card image cap"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--Card content-->
            <mdb-card-body>

                <a href="http://localhost:4200/shopmen" mdbBtn color="primary" mdbWavesEffect>Shop For Men</a>
            </mdb-card-body>
        </mdb-card>
        <!-- Card -->
    </div>

       <br>
   
    
</div>

<form class="text-center border border-light p-5">
    <mdb-card-body>

        <button (click)="logOut()" mdbBtn color="primary" mdbWavesEffect>Sign Out</button>
    </mdb-card-body>
    <br>
    <br>
        
    <p>Visit:</p>

  <a href="https://www.facebook.com/" type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a href="https://twitter.com/" type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>

    <hr>

  </form>


