#wrapper {margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 3px 3px #333;
}

.link { color: #0ba06c; 
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: transparent;
} 
.link:hover { color: #92d3a0; }

.line {
margin-left: 450px;
}

span{

padding-left: 3px;
padding-top: 3px;
font-size: 14px;
font-weight: 900;
position: absolute;

height: 35px;
width: 305x;

color: #FFFFFF;
top: 8px;
right: 16px;
margin-bottom: 50px;
border: solid rgb(8, 177, 51);
border-radius: 100px;
height: 30px;
width: 30px;
background: rgb(84, 189, 110);
}

hr {
  color: white;
  border: 1px solid #0ba03c;
}

input {
    background-color: #28c5da;
    color: white;
    border: 0;
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.click {
  cursor: pointer;
  border-radius: 0.05em;
  color: #fff;
  background-color: #037cc2;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Georgia, "Times New Roman", serif;
  
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.cancel {
  cursor: pointer;
  border-radius: 0.05em;
  color: #fff;
  background-color:rgba(189, 5, 5, 0.932);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Georgia, "Times New Roman", serif;
  margin-left: 10px;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}