.img-logo{
  height: 65px;
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  border: 1px solid #5cb85c;
  outline-style: outset;
  outline-color: #5cb85c;
}

nav a {
  text-decoration: none;
}

.link { color: #0ba06c; 
} 
.link:hover { color: #92d3a0; }